<head>
    {% load staticfiles %}
    {% load i18n %}
    {% block styles %}
        <link rel="stylesheet" href="{% static "StickyTableHeaders/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "StickyTableHeaders/css/component.css" %}">
        <link rel="stylesheet" href="{% static "StickyTableHeaders/css/demo.css" %}">
        <link rel="stylesheet" href="{% static "base.css" %}">
        <link rel="stylesheet" href="{% static "tooltips.css" %}">
    {% endblock %}
</head>
<body>
<div class="stopwatch">{% trans 'Cycle will end in' %} <span id="stopwatch"></span></div>
<div class="context">
    {% if viewer_id > 0 %}
        <a href="{% url 'group-user' group_id=group_id user_id=viewer_id %}">
            <button>
                {% trans 'My' %}
            </button>
        </a>
    {% endif %}
    <a href="{% url 'top-ten' group_id %}">
        <button>
            {% trans 'Total' %}
        </button>
    </a>
    <a href="{% url 'top-ten-period-current' group_id %}">
        <button>
            {% trans 'Last 3 days' %}
        </button>
    </a>
</div>

{% block content %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.js"></script>
    <script type="text/javascript" src="{% static "stopwatch.js" %}"></script>
    <script type="text/javascript">
        startStopWatch('stopwatch', '{{ end_of_period }}');
    </script>
{% endblock %}

</body>