{% extends 'base_table.html' %}
{% load i18n %}
{% block content %}
    <div class="sticky-wrap">
        <table border="1">
            <thead>
            <th>{% trans 'Rating' %}</th>
            <th>{% trans 'Karma' %}</th>
            <th>{% trans 'Avatar' %}</th>
            <th>{% trans 'Name' %}</th>
            </thead>
            <tbody>
            {% for stats in object_list %}
                <tr
                        {% if stats.current_user %}
                            class="current-user"
                        {% endif %}
                >
                    <td>{{ stats.rating }}</td>
                    <td>{{ stats.total_score }}</td>
                    <td><img class="circle" src="{{ stats.user.photo_50 }}"></td>
                    <td>{{ stats.screen_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No articles yet.</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}