{% extends 'base_table.html' %}
{% load i18n %}
{% block content %}
    <h3 class="title">
        {{ user.first_name }} {{ user.last_name }}
    </h3>
    <div class="sticky-wrap user-details">
        <table border="1">
            <tbody>
            <tr>
                <th>{% trans 'Rating' %}</th>
                <td>{{ stats.rating }}</td>
            </tr>
            <tr>
                <th>{% trans 'Karma' %}</th>
                <td>{{ stats.total_score }}</td>
            </tr>
            <tr>
                <th>{% trans 'Likes' %}</th>
                <td>{{ stats.likes }}</td>
            </tr>
            <tr>
                <th>{% trans 'Reposts' %}</th>
                <td>{{ stats.reposts }}</td>
            </tr>
            <tr>
                <th>{% trans 'Likes for Reposts' %}</th>
                <td>{{ stats.likes_for_reposts }}</td>
            </tr>
            <tr>
                <th>{% trans 'Reposts for Reposts' %}</th>
                <td>{{ stats.reposts_for_reposts }}</td>
            </tr>
            <tr>
                <th>{% trans 'Invited' %}</th>
                <td>{{ stats.invites }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}