<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "StickyTableHeaders/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "StickyTableHeaders/css/component.css" %}">
    <link rel="stylesheet" href="{% static "StickyTableHeaders/css/demo.css" %}">
</head>
<body>
<h1>Top 10</h1>
<div class="sticky-wrap">
    <table border="1">
        <thead>
        <th>Avatar</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Total Score</th>
        <th>Likes</th>
        <th>Reposts</th>
        <th>Likes for Reposts</th>
        <th>Reposts for Reposts</th>
        <th>Invited</th>
        </thead>
        <tbody>
        {% for stats in object_list %}
            <tr
                    {% if stats.current_user %}
                        style="font-weight: bold;"
                    {% endif %}
            >
                <td><img src="{{ stats.user.photo_50 }}"></td>
                <td><a href="https://vk.com/id{{ stats.user_id }}">{{ stats.screen_name }}</a></td>
                <td>{{ stats.rating }}</td>
                <td>{{ stats.total_score }}</td>
                <td>{{ stats.likes }}</td>
                <td>{{ stats.reposts }}</td>
                <td>{{ stats.likes_for_reposts }}</td>
                <td>{{ stats.reposts_for_reposts }}</td>
                <td>{{ stats.invites }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No articles yet.</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
</div>
</body>