.sticky-wrap {
    margin: 0;
}

.circle {
    border-radius: 50%;
}

.context {
    width: 400px;
    margin: auto;
    height: auto;
    text-align: -webkit-center;
}

.context a {
    text-align: center;
}

.context a button {
    width: 130px;
    padding: 12px;
    font-family: 'Lato', Arial, sans-serif;
    color: #7c8d87;
}

.current-user {
    font-weight: bold;
}

.sticky-wrap {
    margin-right: 0;
}

.sticky-wrap table {
    margin-bottom: 0;
    width: 100%;
}

.title {
    text-align: center;
}

.sticky-wrap.user-details tr th {
    width: 200px;
}

.sticky-wrap.user-details tr td {
    width: 100px;
}

.sticky-wrap.user-details {
    width: 100%;
    margin: auto;
}

.sticky-wrap.user-details table {
    width: 300px;
    margin: auto;
}